<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mhealth4t2d">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/trusted_domains"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MHealth4T2D.NoActionBar">
        <activity android:name=".Activities.ExerciseDetailsActivity"></activity>
        <activity
            android:name=".Activities.AssociateExerciseActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.UserDetailsActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.QuizActivity" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:parentActivityName=".Activities.LoginActivity" />
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>